html, body {
    height: 100%;
}

body {
    color: #E6E6E6;
    background-color: RGB(19, 21, 22);
    font-family: sans-serif;
    font-size: 200%;
    min-height: 100%;
    position:relative;
    padding-bottom:[footer-height]
}

.main {
    margin: auto;
    height: 66%;
    display: flex;
    align-items:center;
    justify-content:center;
}

a {
    text-decoration: none;
}

footer {
    width:100%;
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height:[footer-height]
}

ul.contact li {
    display:inline;
    margin: auto 10%;
}
